################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ADF ASPNETCoreApp/.vs/ADF ASPNETCoreApp/v16/Server/sqlite3/db.lock
/ConsoleNetFrameworkADF/.vs/ConsoleNetFrameworkADF/v16/Server/sqlite3/db.lock
